/* Centre la carte */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  background-color: lightblue;
}

/* Perspective pour l'effet 3D */
.carte-container {
  perspective: 1200px;
}

/* La carte */
.carte {
  width: 90vw;
  max-width: 600px;
  height: 60vh;
  max-height: 400px;
  position: relative;
  cursor: pointer;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  transition: transform 0.8s;
}

/* Recto et verso */
.recto,
.verso {
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* Verso retourné */
.verso {
  transform: rotateY(180deg);
}
.carte:hover {
  transform: rotateY(180deg);
}
/* Images */
.recto img,
.verso img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
